@{
    ViewData["Title"] = "Home Page";
}
@using HBRPractNet.Resources;

<div class="text-center">
    <h1 class="display-4">@StringResource.Welcome</h1>
</div>

@await Component.InvokeAsync("UsuariosComponent");